.message {
    position: relative;
    width: fit-content;
    padding: .1rem 1rem .1rem 1rem;
    margin-bottom: .3rem;
    border-radius: .5rem;}
    .message > i {
        font-size: .7rem;
        display: block;
        width: fit-content;
        margin-left: auto;}
    .message > b {font-size: .85rem;}
    .message > p {text-align: justify;}
    .sent {
        margin-left: auto;
        margin-right: 1rem;
        max-width: 70%;
        border-top-right-radius: 0;
        background-color: var(--sent-message-color);}
        .sent::after {
            content: "";
            position: absolute;
            right: -1rem;
            top: 0;
            background-color: inherit;
            border-style: solid;
            border-width: .4rem .5rem;
            border-color: transparent var(--background) var(--background) transparent;}
            .sent + .sent::after {content: none;}
    .received {
        margin-left: 1rem;
        border-top-left-radius: 0;
        background-color: var(--received-message-color);}
        .received::after {
            content: "";
            position: absolute;
            left: -1rem;
            top: 0;
            background-color: inherit;
            border-style: solid;
            border-width: .4rem .5rem;
            border-color: transparent transparent var(--background) var(--background);}
            .received + .received::after {content: none;}